svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink",width="80",height="80",viewbox="0 0 105 105",style="padding: 10px")
	polygon(xmlns="http://www.w3.org/2000/svg", points="65.5,0.3 90.5,18.4 100,47.7 90.5,77 65.5,95.2 34.7,95.2 9.7,77 0.2,47.7 9.7,18.4 34.7,0.3",fill="none", stroke="black", stroke-width="1")
	//- (30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30