svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" ,width="80",height="80",viewbox="0 0 105 105",style="padding: 10px")
	polygon(class="hex", points="100,50 75,95 25,95 0,50 25,5 75,5", style="stroke:#000;fill:none")