svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" ,width="80",height="80",viewbox="0 0 105 105",style="padding: 10px")
	polygon(class="hex", points="68.3,99.3 34.5,99.3 8.7,77.6 2.8,44.3 19.7,15.1 51.4,3.5 83.1,15.1 100,44.3 94.1,77.6", style="stroke:#000;fill:none")
	//- (30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%
	
