svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" ,width="80",height="80",viewbox="0 0 105 105",style="padding: 10px")
	polygon(class="hex", points="32,2 72,2 102,32 102,72 72,102 32,102 2,72 2,32", style="stroke:#000;fill:none")
	//- (30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%