svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink" ,width="80",height="80",viewbox="0 0 105 105",style="padding: 10px")
	polygon(class="hex", points="52,2 92,22 102,62 77,102 27,102 2,62 12,22", style="stroke:#000;fill:none")
	//- (50% 0, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0 60%, 10% 20%)