extends layout

//- Main content
block content
	div#welcome
		h4(style="text-align: center") Please stop the clock in order to select the round to be used for payment.
		include includes/clock.pug


	script.
		document.querySelector('#start').style.display = "none";
		document.querySelector('#stop').addEventListener("click", function() {
			var roll = (parseInt(document.querySelector("#mi").innerHTML) % 100)
			$.post('/api/end', {roll: roll}, () => {location = "/result"});
		});
