extends layout

//- Main content
block content
	include includes/test.pug
	div#welcome
		h4(style="text-align: center") Round <b>#{round}</b> of <b>#{settings.rounds}</b>
		+board(settings, prob)
				
	script.
		var block = false;

		function advance() {
			var curr = parseInt($.cookie("round"));
			var sprob = JSON.parse($.cookie("probs"));
			sprob[#{prob}] -= 1;
			$.cookie("round", curr + 1);
			$.cookie("probs", JSON.stringify(sprob));
			console.log(JSON.parse($.cookie("probs")));
			location.reload();
		}

		var actions = document.querySelectorAll(".actions");

		var reference = [ "A", "B", "C" ];

		var payouts = nums;

		var maxShape = (Math.max.apply(Math, polygon_numbers.slice(1, -1)));
		maxShape = polygon_numbers.slice(1, -1).indexOf(maxShape)

		for (var i = 0; i < actions.length; ++i) {
			actions[i].addEventListener("click", function(e) {
				var data = {
					selection: e.target.dIndex,
					payout: payouts[e.target.dIndex][maxShape],
					polygons: JSON.stringify(polygon_numbers),
					prob: #{prob},
					mudding: mudding 
				}
				if (!block) {
					block = true;
					$.post('/api/round', data, advance);
				}
			}, false);
			actions[i].dIndex = i;
		}