extends layout

block content
	div#welcome
		h1 Instructions

		each line, index in text
			p(id="hidden-" + index, style="display:none")= line

		button#continue Continue

	script.
		var max = #{size};

	script(src="/javascripts/welcome.js")